* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 25px 10px;
    background-image: linear-gradient(black,grey);
    color:white;
}

footer {
    text-align: center;
    padding: 25px 10px;
    background-color: black;
    color:white;
}

main {
    min-height: 100vh;
}

.emp-card {
   width: 300px;
    margin: 100px auto;
    text-align: center;
    box-shadow: 2px 2px 15px grey;
    padding: 25px;
    border-radius: 15px;
}

img {
    width: 60%;
    border-radius: 50%;
}

h2 {
    color: orangered;
    padding:10px;
}

a{
    text-decoration: none;
    color:goldenrod;
    font-weight: 300px;
}