body {
 background-color: blanchedalmond;
 margin-left: 100px;
 margin-right: 100px;
 margin-bottom: 100px;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 0;
}
 
hr {
    color: skyblue;
}

span {
    font-style: italic;
}

h3 {
    color: red;
    display: block;    
}
