table {
    text-align: center;
    width: 500px;
    margin: 100px auto;
    border:2px solid black ;
    border-collapse: collapse;
    padding: 15px 10px;
    font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
    
}

thead,tr,td {
    border:1.5px solid black ;
}