* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
   width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: skyblue;
}


input,textarea,select {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}

input[type='checkbox'],input[type='radio'] {
    width: 20px;
    display: flex;
    }

    
label {
    color: brown;
}

button {
    border: none;
    padding: 5px;
    cursor: pointer;
}

button[type='submit'] {
    color: pink;
}

h2 {
    margin-bottom: 5px;
}