* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  300px 600px 300px;
    row-gap: 10px;
    column-gap: 10px;
}

body {
    height: 1000px;
}

.header {
    grid-column: 1/4;
   background-color: pink;
   color: white;
   text-align: center;
   padding: 30px;
   font-size: 4rem;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: skyblue;
    text-align: center;
   padding: 80px;
   font-size: 4rem;
}

.footer {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: gray;
    padding: 30px;
   font-size: 4rem;
   text-align: center;
}

.content1 {
    grid-row:2/3 ;
    grid-column:2/4 ;
    background-color: aquamarine;
    padding: 30px;
   font-size: 4rem;
   text-align: center;
}

.content2 {
grid-row: 3/4;
grid-column: 2/3;
background-color: blueviolet;
padding: 30px;
   font-size: 3rem;
   text-align: center;
}

.content3 {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: burlywood;
    padding: 30px;
       font-size: 3rem;
       text-align: center;
}